.heading-primary {
  backface-visibility: hidden;
  color: $color-white;
  margin-bottom: 6rem;
  text-transform: uppercase;

  
  &--main {
    animation: moveInLeft 1000ms ease-out;
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    
    @include respond(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }
  
  &--sub {
    animation: moveInRight 1000ms ease-out;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    
    @include respond(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  color: transparent;
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 200ms;
  letter-spacing: 2px;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skew(15deg, 2deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $font-size-default;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $font-size-default;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}