.popup {
  background: $gradient-dark;
  opacity: 0; 
  visibility: hidden;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  transition: all 300ms;
  
  @supports((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
    background: rgba(black, 0.3);
    -webkit-backdrop-filter: blur(10px); 
    backdrop-filter: blur(10px); 
  }
  
  &:target {
    opacity: 0.95;
    visibility: visible;
  }
  &:target &__content {
    transform: scale(1);
    opacity: 1;
  }
  & * { opacity: inherit; }
  &>* { opacity: 1; }
  &__content {
    position: relative;
    transition: all 400ms 200ms;
    background-color: $color-white;
    width: 75%;
    background: $color-white; 
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    transform: scale(0.1);
    opacity: 0;
  }
  &__close {
    &:link, &:visited {
      color: $color-gray-dark-2;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 200ms;
      line-height: 1;
    }
    &:hover {
      color: $color-primary;
    }
  }
  &__left {
    width: 33.333%;
    display: table-cell;
    
    @include respond(tab-port) {
      display: block;
      width: 100%;
    }
  }
  &__right {
    width: 66.66666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
    
    @include respond(tab-port) {
      display: block;
      width: 100%;
    }
  }
  &__img {
    display: block;
    width: 100%;
    
    @include respond(tab-port) {
      display: inline-block;
      width: 49%;
    }
  }
  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-gray-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    @include respond(phone) {
      column-count: 1;
    }
  }
}